# Assignment – II

Question 1: Write a program that accepts a comma separated sequence of words as input and
prints the words in a comma-separated sequence after sorting them alphabetically.
Input: hello, essential, world, python
Output: essential, hello, python, world

In [ ]:
user_input=input("Enter the values seperated by coma: ")
coma_seperated=[x.strip() for x in user_input.split(",")]
coma_seperated.sort()
print(*coma_seperated, sep=", ")

Enter the values seperated by coma: hello, essential, world, python
essential, hello, python, world

Question 2: See the following list:
list1 = ["abc", [2, 3, ("shivam”, “the trainer")], 1, 2, 3]
Get the string "trainer".

In [ ]:
list1=["abc", [2, 3, ("shivam”, “the trainer")], 1, 2, 3] 
list1[1][2][-7:]

'trainer'

Question 3: Write a Python program to find the repeated items of a tuple.

In [ ]:
tuple1=('Shivam', 'Sasi', 'Stacy', 'Shivam', 'Sarangi', 'Sophie', 'Sasi')
print(set(tuple1)) # for unique values and to aoivd repetition
repeated=[]

# To find only the values that are repeated
for i in tuple1:
    if tuple1.count(i)>1 and i not in repeated:
        repeated.append(i)
print("Repeated elements are :", repeated)

{'Sarangi', 'Sasi', 'Shivam', 'Sophie', 'Stacy'}
Repeated elements are : ['Shivam', 'Sasi']

Question 4: Use the list, [1, 2, 4, 5, 1, 1, 4, 1, 56], and find the index of all the 1 elements.

In [ ]:
list2=[1, 2, 4, 5, 1, 1, 4, 1, 56]
indexes=[]
for k, v in enumerate(list2):
    if v==1:
        indexes.append(k)

print(indexes)

[0, 4, 5, 7]

Question 5: Write a Python program to compute the similarity between two lists.
Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green",
"blue"]
Expected Output:
 Color1-Color2: ['white', 'orange', 'red']
 Color2-Color1: [‘black’, ‘yellow’]

In [ ]:
color1=["red", "orange", "green", "blue", "white"]
color2=["black", "yellow", "green", "blue"]


ans1=[i for i in color1 if i not in color2]
print("color1-color2",ans1)

ans2=[j for j in color2 if j not in color1]
print("color2-color1", ans2)

color1-color2 ['red', 'orange', 'white']
color2-color1 ['black', 'yellow']