# Assignment – III

Question 1: Write a Python program to find numbers between 100 and 400 (both included)
where each digit of a number is an even number. The numbers obtained should be printed in a
comma-separated sequence.

In [ ]:
solution=[]
for i in range(100,401):
  if i%2==0:
    solution.append(i)

print(*solution, sep=", ")

100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400

Question 2: Write a Python program to create the multiplication table (from 1 to 10) of a
number.

In [ ]:
user_input=int(input("Enter the value for multiplication table: "))
for i in range(1, 11):
    print(str(i) + "x " + str(user_input) + " = " + str(i*user_input))

Enter the value for multiplication table: 12
1x 12 = 12
2x 12 = 24
3x 12 = 36
4x 12 = 48
5x 12 = 60
6x 12 = 72
7x 12 = 84
8x 12 = 96
9x 12 = 108
10x 12 = 120

Question 3: Write a Program to square each odd number in a list. The list is input by a
sequence of comma-separated numbers.

In [ ]:
usr_input=input("Enter the values of list: ")
list1=usr_input.split(',')
# print(list1)
print("To include both squared and non-squared numbers in the list")
sqr=[int(i)**2 if int(i)%2!=0 else i for i in list1]
#To print all the values and quaring only odd numbers
print(*sqr, sep=', ')


print("To print only the square of the odd numbers")
odd_squares=[int(i)**2 for i in list1 if int(i)%2!=0 ]
print(odd_squares)

Enter the values of list: 2,3,4,5
To include both squared and non-squared numbers in the list
2, 9, 4, 25
To print only the square of the odd numbers
[9, 25]

Question 4: Write a Python program to match key values in two dictionaries.

 Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
 Expected output: key1: 1 is present in both x and y

In [ ]:
dict1={'key1': 1, 'key2': 3, 'key3': 2}
dict2={'key1': 1, 'key2': 2}

for k, v in dict1.items():
  for k1, v1 in dict2.items():
    if k==k1 and v==v1:
      print(str(k) + ":" +str(v) + " is present in both x and y")

key1:1 is present in both x and y

Question 5: Write a program that computes the net amount of a bank account based a
transaction log from console input. The transaction log format is shown as following:
D 100 W 200
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be: 500

In [ ]:
account=500
ui=input("Enter the log: ")
ui=ui.strip(' ')
ui=ui.split(' ')
acc=0
# print(ui)

for i, val in enumerate(ui):
  if val=='D':
    acc+=int(ui[i+1])
  elif val=='W':
    acc-=int(ui[i+1])

print(acc)

Enter the log: D 300 D 300 W 200 D 100
500